
body {
	margin: 0;
	min-height: 100vh;
	text-align: center;
		background-image: url('../images/fondo.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
		overflow-x: hidden;

}

h1 {
	background-color: beige;
	color: brown;
	border-left: 8px solid red;
	padding: 10px 16px;
	display: inline-block;
}

img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border: 4px solid #000000;
	border-radius: 12px;
	box-shadow: 6px 6px 18px rgba(0,0,0,0.6);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

li {
	display: inline;
	border: 1px solid #000;
	padding: 6px 10px;
	margin: 0 6px;
}

.roboto-400 {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

